{% extends "master.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<div class="main">
    <div class="left-content">
        <img src="static/images/OIP.jpg" alt="GradConnect Hero Image depicting successful graduates">
    </div>
    <div class="right-content">
        <h1>Welcome to GradConnect!</h1>
        <p>Connecting graduates with their dream jobs and incredible mentorship</p>

        <h3>Quick navigation:</h3>

        <p>Check out new jobs and <a href="members/" class="highlight-link">| Apply</a></p>
        <p>View available Mentors <a href="mentor/" class="highlight-link">| View</a></p>
        <p>Update your profile <a href="profile/edit/" class="highlight-link">| Update</a></p>
    </div>
</div>
{% endblock %}
