{% extends "master.html" %}

{% block title %}
My Job Listings - List of All Jobs/Internships
{% endblock %}

{% block content %}
<div class="content">
    <h1>Jobs/Internships</h1>
    
    <!-- Application Progress -->
    {% if application_progress %}
    <div class="application-progress">
        <h2>Application Progress For This Month</h2>
        <ul>
            <li>Total Applied: {{ application_progress.total_applied }}</li>
            <li>Interviews: {{ application_progress.interview }}</li>
            <li>Reviews: {{ application_progress.review }}</li>
            <li>Rejected: {{ application_progress.rejected }}</li>
            <li>Accepted: {{ application_progress.accepted }}</li>
        </ul>
    </div>
    {% endif %}

    <!-- Search Form -->
    <form method="GET" action="">
        {{ form.query.label_tag }}
        {{ form.query }}
        <button type="submit">Search</button>
    </form>
    
    <ul class="job-list">
        {% for job in jobs %}
        <li class="job-item">
            <span>{{ job.jobtitle }} | {{ job.company }}</span>
            <button class="btn-view-details" onclick="window.location.href='{% url 'details' job.id %}'">View Details</button>
            <button class="btn-view-details" onclick="window.location.href='{% url 'details' job.id %}'">Apply</button>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

