{% extends "master.html" %}

{% block content %}
<div class="profile-container">
    <h1>Profile</h1>

    <p><strong>Full Name:</strong> {{ profile.name }}</p>
    <p><strong>Email Address:</strong> {{ profile.email }}</p>
    <p><strong>Qualifications:</strong> {{ profile.qualifications }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Skills:</strong> {{ profile.skills }}</p>
    <p><strong>Portfolio Link:</strong> <a href="{{ profile.portfolio_link }}">{{ profile.portfolio_link }}</a></p>
    <p><strong>Profile Link:</strong> <a href="{{ profile.profile_link }}">{{ profile.profile_link }}</a></p>

    <p class="space-above"><a href="edit/" class="edit-link">Edit Profile</a></p>
</div>
{% endblock %}

